.movie-detail-container {
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    line-height: 1.7rem;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(26, 38, 52);
    overflow-y: scroll;
}

.movie-detail-container .movie-detail-backdrop-container {
    width: 100%;
    position: relative;
}

.movie-detail-container .movie-detail-backdrop-container .movie-detail-backdrop {
    width: 100%;
    object-fit: cover;
}

.movie-detail-container .movie-detail-backdrop-container .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 -4rem 2rem 0 rgb(26, 38, 52);
}

.movie-detail-container .movie-detail-close {
    width: 100%;
    position: relative;
}

.movie-detail-container .movie-detail-close span {
    right: 0;
    cursor: pointer;
    padding: 1px 10px;
    position: absolute;
    border-radius: 20px;
    border: 2px solid #ffffff
}

.movie-detail-container .movie-detail-close span:hover {
    color: #3699a3;
    border: 2px solid #3699a3
}

.movie-detail-container .movie-detail-poster {
    width: 240px;
    border-radius: 5px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.417)
}

.movie-detail-container .movie-detail {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 0;
    transform: translateY(50%);
    padding: 3rem 4rem;
    text-align: left;
    font-size: 0.9rem;
    color: #bebebe;
    border-radius: 1.6rem;
    background-color: rgba(36, 50, 63, .95);
    margin-bottom: 8rem;
}

.movie-detail-container .movie-detail-disc {
    gap: 2px;
    display: flex;
    flex-flow: column;
    padding-left: 2.5rem;
}

.movie-detail-container .movie-detail-genres {
    margin-top: 1.25rem;
}

.movie-detail-container .movie-detail-title {
    max-width: 25ch;
    color: #eaeaea;
    font-size: 1.7rem
}

.movie-detail-container .movie-detail-overview {
    color: #eaeaea;
    font-size: 1rem;
    max-width: 50ch
}

.movie-detail-container .movie-detail a {
    text-decoration: none
}


/* custom scrollbar */
.movie-detail-container::-webkit-scrollbar {
    width: 0;
}

/* Media */
@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1366px) {
    .movie-detail-container .movie-detail {
        transform: translateY(10%);
        flex-direction: column;
        background-color: rgba(36, 50, 63, .85);
    }

    .movie-detail-container .movie-detail-disc {
        gap: 0;
        display: flex;
        padding-left: 0;
    }

    .movie-detail-container .movie-detail-title {
        margin: 2.5rem 0 1.6rem
    }
}

@media screen and (max-width: 768px) {
    .movie-detail-container .movie-detail {
        transform: translateY(0%);
        border-radius: 0;
        width: 100%;
    }

    .movie-detail-container .movie-detail-poster {
        width: 100%;
        max-width: 300px;
    }

    .movie-detail-container .movie-detail-disc {
        gap: 0;
        display: flex;
        padding-left: 0;
    }

    .movie-detail-container .movie-detail-close {
        padding: 1.5rem;
    }

    .movie-detail-container .movie-detail-close span {
        top: 0;
    }
}
