.movie-detail-container {
    min-height: 100%;
    top: 0;
    display: flex;
    position: absolute;
    /* margin-top: 60px; */
    flex-flow: row wrap;
    line-height: 1.7rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #1a2634;
}

.movie-detail-container .movie-detail-backdrop-container {
    width: 100%;
}

.movie-detail-container .movie-detail-backdrop-container .movie-detail-backdrop {
    width: 100%;
    top: 10px;
    height: 50vh;
    object-fit: cover
}

.movie-detail-container .movie-detail-backdrop-container .shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 54vh;
    position: absolute;
    box-shadow: inset 0 -100px 90px 90px #1a2634
}

.movie-detail-container .movie-detail-close {
    width: 100%;
    position: relative
}

.movie-detail-container .movie-detail-close span {
    right: 0;
    cursor: pointer;
    padding: 1px 10px;
    position: absolute;
    border-radius: 20px;
    border: 2px solid #ffffff
}

.movie-detail-container .movie-detail-close span:hover {
    color: #3699a3;
    border: 2px solid #3699a3
}

@media screen and (max-width: 600px) {

    .movie-detail-container {
    }

    .movie-detail-container .movie-detail-close span {
        right: 0;
        bottom: 25px
    }
}

.movie-detail-container .movie-detail-poster {
    width: 240px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.417)
}

.movie-detail-container .movie-detail {
    display: flex;
    bottom: 250px;
    text-align: left;
    font-size: 0.9rem;
    color: #bebebe;
    padding: 40px 3vw;
    position: relative;
    border-radius: 10px;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #24323ffb
}

.movie-detail-container .movie-detail-disc {
    gap: 2px;
    display: flex;
    flex-flow: column;
    padding-left: 40px
}

.movie-detail-container .movie-detail-genres {
    margin-top: 20px
}

.movie-detail-container .movie-detail-title {
    max-width: 25ch;
    color: #eaeaea;
    font-size: 1.7rem
}

.movie-detail-container .movie-detail-overview {
    color: #eaeaea;
    font-size: 1rem;
    max-width: 50ch
}

.movie-detail-container .movie-detail a {
    text-decoration: none
}

@media screen and (max-width: 1000px) {
    .movie-detail-container .movie-detail {
        flex-direction: column;
        bottom: 52vh;
        width: 100vw;
        font-size: 0.9rem;
        border-radius: 0;
        padding: 100px 20px 150px;
        background-color: #24323fd6
    }

    .movie-detail-container .movie-detail-disc {
        gap: 0;
        display: flex;
        padding-left: 0;
        flex-flow: column
    }

    .movie-detail-container .movie-detail-title {
        margin: 40px 0 10px
    }
}
